name: BlackBox

on:
  workflow_call:
    inputs:
      scenarii:
        type: number
        default: 100
        required: false
      os:
        type: string
        required: false
        default: ubuntu-latest
      php-version:
        type: string
        required: true
      dependency-versions:
        type: string
        required: false
        default: 'highest'
      ini-values:
        type: string
        required: false
        default: ''
      tags:
        type: string
        required: false
        default: ''

jobs:
  blackbox:
    runs-on: ${{ inputs.os }}
    name: 'BlackBox (${{ inputs.os }}, ${{ inputs.php-version }}, ${{ inputs.dependency-versions }})'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          extensions: mbstring, intl
          coverage: none
          ini-values: ${{ inputs.ini-values }}
      - name: Composer
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: ${{ inputs.dependency-versions }}
          ignore-cache: ${{ inputs.os }} == 'macOS-latest'
      - name: BlackBox
        run: php blackbox.php ${{ inputs.tags }}
        env:
          BLACKBOX_SET_SIZE: ${{ inputs.scenarii }}
