name: Coverage

on:
  workflow_call:
    inputs:
      ini-values:
        type: string
        required: false
        default: ''
      tags:
        type: string
        required: false
        default: ''

jobs:
  coverage:
    uses: ./.github/workflows/coverage.yml
    secrets: inherit
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        php-version: ['8.4']
        dependency-versions: ['lowest', 'highest']
    name: 'Coverage'
    with:
      os: ${{ matrix.os }}
      php-version: ${{ matrix.php-version }}
      dependency-versions: ${{ matrix.dependency-versions }}
      ini-values: ${{ inputs.ini-values }}
      tags: ${{ inputs.tags }}
