name: CS

on:
  workflow_call:

jobs:
  cs:
    runs-on: ubuntu-latest
    name: 'CS (${{ inputs.php-version }})'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, intl
      - name: Composer
        uses: "ramsey/composer-install@v3"
      - name: CS
        run: vendor/bin/php-cs-fixer fix --diff --dry-run
