name: Psalm

on:
  workflow_call:

jobs:
  psalm:
    uses: ./.github/workflows/psalm.yml
    secrets: inherit
    strategy:
      matrix:
        php-version: ['8.4', '8.5']
    name: 'Psalm'
    with:
      php-version: ${{ matrix.php-version }}
      dependency-versions: ${{ matrix.dependency-versions }}
