name: Psalm

on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true

jobs:
  psalm:
    runs-on: ubuntu-latest
    name: 'Psalm (${{ inputs.php-version }}, ${{ inputs.dependency-versions }})'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, intl
      - name: Composer
        uses: "ramsey/composer-install@v3"
      - name: Psalm
        run: vendor/bin/psalm --shepherd --php-version=${{ inputs.php-version }}
